.header2{
    background-color: black;
    padding: 10px 100px;
    color: white;
}
.header2 p{
    color: white;
    display: inline-block;
    font-size: 20px;
    margin: 0;
}
.container{
    margin:25px 100px;
    

}
.container img{
    max-height: 200px;
    margin-right: 30px;
}
.series, .movies{
    cursor: pointer;
    margin: 10px;
    float: left;
}


@media (max-width:691px){
    .header2{
        padding: 13px 10px;
    }
    .header2 p{
        font-size: 15px;
    }
}