*{
  padding: 0;
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box; 
}

.container{
  margin:20px 100px;

}
.header2{
  background-color: black;
  padding: 10px 100px;
  color: white;
}
.header2 p{
  color: white;
  display: inline-block;
  font-size: 20px;
  margin: 0;
}

.card{
  float:right;
  width:170px;
  margin-bottom: 30px;
}
.margin{
  width:200px;
}